<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel= "shortcut icon" type="image/png" href="images/solapa.png">

    <title>Cart</title>
</head>
<body>
    
    <!-- header -->
    <%-include('../partials/header')%>
   
    <main>

        <!-- Step Bar-->

        <section class="step-bar">
            <div>
                <h3 class="step-cart">1. Carrito</h3>
            </div>
        </section>

        <!-- Carrito de Compras -->
        
        <section class="container-cart-products">
            <h3 class="cart-products-title">Compras <%= products.length %></h3>
            <% for (let i = 0; i < products.length; i++) { %>
                
                <article class="cart-products-1">
                        <img src="images/<%=products[i].image %>" class="cart-products-img" alt="lolita">

                        <div class="cart-products-name">
                            <h3 class="cart-album"></h3>

                            <p class="cart-artist-name"></p>

                            <p class="cart-price"></p>
                        </div>
                </article>
                <% } %>
        </section>

        <section>

            <!-- Resumen -->
            <div class="container-summary">
                <h3 class="summary-title">Resumen</h3>

                <div class="summary-subtotal">
                    <p>SUBTOTAL</p>
                    <p>$600</p>
                </div>

                <div class="summary-tax">
                    <p>Block-chain TAXES</p>
                    <p>$130</p>
                </div>

                <div class="summary-full-price">
                    <p>TOTAL</p>
                    <p>$730</p>
                </div>
            </div>

            <!-- Botones -->
            <div class="container-buttons">   
                <form action="/compraRealizada" method="POST">
                    <button class="next-button" value="<%= products.length %>" name="owner">Confirmar compra</button>
                </form>
                
            </div>

        </section>
    </main>
    <!-- footer -->
    <%-include('../partials/footer')%>
</body>
</html>