<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="css/cart2.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<%-include('../partials/header')%>
<body>
    <div class="container">
        <h1>Shopping Cart</h1>
        <div class="cart">
            <div class="products">
                <% for (let i = 0; i < products.length; i++) { %>
                <div class="product">
                    <div class="cart-products-1">

                        <img src="images/<%=products[i].image %>" class="cart-products-img" alt="img_nft">
                    </div>
                    <div class="product-info">
                        <h3 class="product-name"><%=products[i].name %></h3>
                        <h4 class="product-price"><%=products[i].price %></h4>
                        <h4><%=products[i].detail %></h4>
                        <p class="product-remove">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            <span class="remove">Remove</span>
                        </p>
                    </div>
                </div>
                <% } %>
                
            </div>
            <div class="cart-total">
                <p>
                    <span>Total Price</span>
                    <span>$ <%= total %></span>
                </p>
                <p>
                    <span>Number of Items</span>
                    <span><%=products.length %></span>
                </p>
                <form action="/compraRealizada" method="POST">
                    <button value="<%= products.length %>" name="owner"> Confirm order </button>
                </form>
            </div>
        </div>
    </div>
</body>
<%-include('../partials/footer')%>

</html>



