<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />   
        <link rel="stylesheet" href="/css/add-edit.css">
        <link rel="stylesheet" href="/css/style.css">   
        <link rel= "shortcut icon" type="image/png" href="images/solapa.png">

        <title>Edit product</title>
    </head>
        <body>
            <%-include('../partials/header')%>
                <div class="background-edit-add"></div>
                    <section class="form-gral">
                        <div class="add-product-form">
                            <header class="main-header">Please edit your product!</header>
                            <div class="data">
                                <form action="/product/<%= product.id %>/editProduct?_method=PUT" enctype="multipart/form-data" method="POST">
                                    <label for="categoy"></label>
                                    <input type="text" id="name" name="name" placeholder="<%=  product.name %>"/>

                                    <label for="detail"></label>
                                    <input type="text" name="detail" placeholder="<%= product.detail %>" />

                                    <label for="price"></label>
                                    <input type="number" name="price" placeholder="<%= product.price %>"/>

                                    <label for="artistname"></label>
                                    <input  type="text" name="artistname" placeholder="<%= product.artist_name %> " />

                                    <label for="artistbio"></label>
                                    <input type="text" name="artistbio" placeholder="<%= product.artist_bio  %>" />

                                    <label for="artistcode"></label>
                                    <input type="text" name="artistcode" placeholder="<%= product.artist_code %>" /><br>
                                    
                                
                                    <div class="file-select" id="artistimg" >
                                        <input type="file" name="artistimg" aria-label="Archivo">
                                    </div>      
                                        
                            </div>
                            <div class="panel">
                                    <button id="add-product-button" class="button">Edit</button>

                                <button class="button" id="cancel-button">Cancel</button>
                                
                                </div>
                            </form>
                    
                        </div>
                    </section>    
                </div>
                    
            <%-include('../partials/footer')%>
        </body>
</html>