<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel= "shortcut icon" type="image/png" href="images/solapa.png">

  </head>
  <body>
    <%-include('../partials/header')%>

    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
                <img src="/images/<%= product.image %>" class="product-img" alt="WYP">
            </div>
          </div>
          <h1 class="similar">See more:</h1>

          <div class = "img-select">
                <% if (typeof (myArray) !== "undefined") { %>
                    <% for (let i = 0 ; i < 3 ; i++) { %>
                        <div class = "img-item">
                        <% let index = myArray[i] %>
                        <a href="/product/<%= similProduct[index].id %>">
                            <img src="/images/<%= similProduct[index].image %>"> </a>
                        </div>
                    <% } %>
                <% } %>
          </div>
        </div>        
        
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title"><%= product.name %></h2>
          <div class = "product-rating">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half-alt"></i>
          </div>

          <div class = "product-price">
            <p class = "last-price">Price: $<%= product.price %></p>
          </div>

          <div class = "product-detail">
            <h2>about this item: </h2>
            <p><%= product.detail %></p>
            <h2>about this artist: </h2>
            <p><%= product.artist_bio %></p>
            <ul>
              <li>Available: <span>in stock</span></li>
              <li>Category: <span>NFT</span></li>
              <li>Artist code: <span><%= product.artist_code %></span></li>
              <li>Shipping Area: <span>All over the world</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
                <form action="/cart" method="POST" >
                    <button value= "<%= product.id %>" type="submit"  name="product" class="asp">Buy <i class = "fas fa-shopping-cart"></i></button>
                </form>
                <% if (locals.islogged){ %>
                  <% if (locals.loggedUser.email == "admin@gmail.com"){ %>

                    <form action="/product/<%= product.id  %>?_method=DELETE" method="POST">
                      <button type="submit" class="dsa" >Delete</button>
                  </form>
                  
                  <% } %>
                  <button type = "button" class = "dnt">
                    <a href="/product/<%= product.id %>/editProduct" class="edit-button"> Edit </a>
                </button>
              <% } %>
            
              
          </div>

        </div>
      </div>
    </div>
    <%-include('../partials/footer')%>

    <script src="script.js"></script>

  </body>
</html>
