<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />   
        <link rel="stylesheet" href="/css/add-edit.css">
        <link rel="stylesheet" href="/css/style.css">  
        <link rel= "shortcut icon" type="image/png" href="images/solapa.png">
 
        <title>Add product</title>
    </head>
        <body>
            <%-include('./partials/header')%>
            <div class="background-edit-add">
                <section class="form-gral">
                    <div class="add-product-form">
                        <form action="/product/addProduct" method="POST" enctype="multipart/form-data" class="formulario">
                        
                            <header class="main-header">Here you can add a new product!</header>
                            <div class="data">
                                <label for="name"></label>
                                <input type="text" name="name" placeholder="Product name:" value = "<%= locals.oldData ? oldData.name : null%>"/>
                                <div class="span-nombre"></div>
                                <% if (locals.errors && errors.name ) { %>
                                    <div class="text-error estilo" style="color:red"  >
                                        <%= errors.name.msg %> 
                                    </div>
                                <% } %>
                                <label for="detail"></label>
                                <input type="text" name="detail" placeholder="Description:" value = "<%= locals.oldData ? oldData.detail : null%>"/>
                                <% if (locals.errors && errors.detail ) { %>
                                    <div class="text-error estilo" style="color:red"  >
                                        <%= errors.detail.msg %> 
                                    </div>
                                <% } %>
                                <label for="price"></label>
                                <input type="number" name="price" placeholder="Price:" value = "<%= locals.oldData ? oldData.price : null%>"/>
                                <% if (locals.errors && errors.price ) { %>
                                    <div class="text-error estilo" style="color:red"  >
                                        <%= errors.price.msg %> 
                                    </div>
                                <% } %>
                                <label for="artistname"></label>
                                <input type="text" name="artistname" placeholder="Artist name:" value = "<%= locals.oldData ? oldData.artistname : null%>"/>
                                <% if (locals.errors && errors.artistname ) { %>
                                    <div class="text-error estilo" style="color:red"  >
                                        <%= errors.artistname.msg %> 
                                    </div>
                                <% } %>
                                <label for="artistbio"></label>
                                <input type="text" name="artistbio" placeholder="Bio:" value = "<%= locals.oldData ? oldData.artistbio : null%>"/>
                                <% if (locals.errors && errors.artistbio ) { %>
                                    <div class="text-error estilo" style="color:red"  >
                                        <%= errors.artistbio.msg %> 
                                    </div>
                                <% } %>
                                <label for="artistcode"></label>
                                <input type="text" name="artistcode" placeholder="Code..." value = "<%= locals.oldData ? oldData.artistcode : null%>"/>
                                <% if (locals.errors && errors.artistcode ) { %>
                                    <div class="text-error estilo" style="color:red"  >
                                        <%= errors.artistcode.msg %> 
                                    </div>
                                <% } %>
                                <br>
                                
                                <select name="category" >
                                    <% for (let i = 0; i < category.length; i++) { %>
                                        <option value="<%= category[i].id %>"><%= category[i].category %></option>
                                    <% } %>
                                </select><br>
                                
                                           
                                <div class="file-select" id="artistimg" >
                                    <input type="file" name="artistimg" aria-label="Archivo">
                                </div>  
                                <% if (locals.errors && errors.artistimg ) { %>
                                    <div class="text-error estilo" style="color:red"  >
                                        <%= errors.artistimg.msg %> 
                                    </div>
                                <% } %>       
                                <div class="panel">
                                    <button type="submit" id="add-product-button" class="button">Add</button>
                                    <button type="reset" class="button" id="cancel-button">Cancel</button>
                                </div>
                        
                            </div>    
                        </form>    
                    </div>
                </section>
            </div>
                
                <%-include('./partials/footer')%>
                <script src="/js/productValidation.js"></script>

        </body>
</html>