
<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%-include('./partials/head')%>
    <body>
    <!-- header  -->
    <%-include('./partials/header')%>
    
    <!-- cuerpo de la pagina -->
    <main>
        <!-- fondo de pantalla -->
        <section>
            <div class="background">
            </div>    
                <div class="contein">
                    <h1><span>NFT</span></h1>
                    <span class="cen">Art Sellers</span>
                </div>
            
        </section >
        <!-- Titulo producto destacado -->
        <div class="producto-destacado">
            <h3>TOP SELLERS </h3>
        </div>
        <!-- TOP SELERS -->
        
        <div class="box-conteiner">
            <% for (let i = 0 ; i < 3 ; i++) { %>
            <div class="box">
                <div class="image">
                    <a href="/product/<%= product[Math.floor(Math.random()*product.length)].id %>"><img src="/images/<%= product[Math.floor(Math.random()*product.length)].image %>" alt="pear-bitch"></a>
                </div>
                <!-- Pear bitch -->
                <div class="info">
                    <h3 class="title">Pear bitch</h3>
                    <div class="subInfo">
                    <div class= "price">$7000<span>$6000</span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>

                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <!-- banner -->
        <section class="banner">
            <h3>October special discounts</h3>
            <img src="images/banner.jpeg" alt="Banner">
        </section>

        <!-- STAFF -->
        <div class="staff"><h3 id="staff"> </h3></div>
        <section class="conteiner">
            
            <!-- Quique -->
            <div class="card">
                <div class="bg-image">
                    <img src="/images/bg-image.jpg" alt="#">
                </div>
            <div class="pic">
                <img src="/images/pic1.jpg" alt="">
            </div>
            <div class="info">
                <h3>Quique</h3>
                <span><i class="fas fa-code"></i>Desarrollador</span>
                <p>Soy Enrique, tengo 34 años, trabaje los últimos diez en un festival de cine de Mexico como director de programación y ediciones audio visuales .</p>
                <div class="icons">
                    <a href="https://www.facebook.com/kike.laffranconi" class="fab fa-facebook-f"></a>
                    <a href="https://www.instagram.com/kikelaffranconi/?hl=es-la" class="fab fa-instagram"></a>
                    <a href="https://github.com/QuiqueLaff" class="fab fa-github"></a>
                </div>
            </div>    
            </div>
            <!-- Ale -->
            <div class="card">
                <div class="bg-image">
                    <img src="/images/bg-image.jpg" alt="">
                </div>
            <div class="pic">
                <img src="/images/pic2.jpg" alt="">
            </div>
            <div class="info">
                <h3>Ale</h3>
                <span><i class="fas fa-code"></i>Desarrollador</span>
                <p>Soy Alejandro, 30 años - I know. Trabajo en el área de Cash Management para un banco extranjero. Britney Spears stan since 1998.</p>
                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="https://github.com/aleomg" class="fab fa-github"></a>
                </div>
            </div>    
            </div>
            <!-- Francisco -->
            <div class="card">
                <div class="bg-image">
                    <img src="/images/bg-image.jpg" alt="">
                </div>
            <div class="pic">
                <img src="images/pic3.jpg" alt="">
            </div>
            <div class="info">
                <h3>Fran</h3>
                <span><i class="fas fa-code"></i>Desarrollador</span>
                <p>Soy Fran, apasionado del desarrollo web sobre todo en el back end, este viaje empezo en el 2017
                    y sigo juntando herramientas para ser cada vez mejor
                </p>
                <div class="icons">
                    <a href="https://www.facebook.com/juan.salguero77/" class="fab fa-facebook-f"></a>
                    <a href="https://www.linkedin.com/in/juan-francisco-salguero/" class="fab fa-linkedin"></a>
                    <a href="https://github.com/Clonmorfo" class="fab fa-github"></a>
                </div>
            </div>    
            </div>
        </section>
        <section>
            <!-- Colections -->
        <div class="producto-destacado" id="colections">
            <h3 >COLLECTIONS</h3>
        </div>
        <div class="box-conteiner">
            <!-- NBA Top shots -->
            <div class="box">
                <div class="image">
                    <a href="/product/6"><img src="/images/nba.gif" alt="NBA"></a>
                </div>
                <div class="info">
                    <h3 class="title">NBA Top Shots</h3>
                    <div class="subInfo">
                    <div class= "price">$7000<span></span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>

                    </div>
                </div>
            </div>
                <!-- Game Boy Colection -->
            <div class="box">
                <div class="image">
                    <a href="/product/7"><img src="/images/game-boy.gif" alt="Game boy"></a>
                </div>
                <div class="info">
                    <h3 class="title">Game Boy</h3>
                    <div class="subInfo">
                    <div class= "price">$2000<span></span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>
                   </div>
                </div>
            </div>
            <!-- Apple -->
            <div class="box">
                <div class="image">
                    <a href="/product/8"><img src="/images/apple.gif" alt="Apple"></a>
                </div>
                <div class="info">
                    <h3 class="title">Apple</h3>
                    <div class="subInfo">
                    <div class= "price">$2000<span></span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>
                   </div>
                </div>
            </div>
            
        </div>
        </section>
    <!-- footer -->
    <%-include('./partials/footer')%>
</body>
</html>

