<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/style.css">   
    <link rel= "shortcut icon" type="image/png" href="/images/solapa.png">

    <title>Register</title>
</head>
<body>
    <!--header  -->
      <%-include('../partials/header')%>

    <!-- cuerpo de la pagina -->
    <main>
        <div class= "register1">
            <div class="background-login1">
                <div class="form-container">
                <form class="form-register" action="/users/register" method="POST" enctype="multipart/form-data">
                    <h4>REGISTRARSE</h4>
                    <div class="form-control">           
                        <i class="fas fa-id-card icons"></i>
                        <input type="text" name="firstname" placeholder="Name" class="form-input nombre-input" value = "<%= locals.oldData ? oldData.firstname : null%>" >
                        <div class="span-nombre estilo"></div>
                        <% if (locals.errors && errors.firstname ) { %>
                            <div class="text-error" style="color:red"  >
                                <%= errors.firstname.msg %> 
                            </div>
                        <% } %>
                    </div>

                    <div class="form-control">        
                        <i class="far fa-id-card icons"></i>
                        <input type="text" name="lastname" class="form-input apellido-input" placeholder="Last Name" value = "<%= locals.oldData ? oldData.lastname : null%>">
                        <div class="span-apellido estilo"></div>
                        <% if (locals.errors && errors.lastname ) { %>
                            <div class="text-error" style="color:red">
                                <%= errors.lastname.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="form-control">    
                        <i class="fas fa-envelope icons"></i>
                        <input type="text" name="email" class="form-input email-input" placeholder="Email" value = "<%= locals.oldData ? oldData.email : null%>">
                        <div class="span-email estilo"></div>
                        <% if (locals.errors && errors.email ) { %>
                            <div class="text-error" style="color:red">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="form-control">      
                        <i class="fas fa-key icons"></i>
                        <input type="password" name="password" class="form-input password-input " placeholder="Password" > 
                        <div class="span-password estilo"></div>
                        <% if (locals.errors && errors.password ) { %>
                            <div class="text-error" style="color:red">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>  

                    <div class="form-control">     
                        <i class="fas fa-key icons"></i>
                        <input type="password" name="confirmpassword" class="form-input repassword-input" placeholder="Confirm Password">
                        <div class="span-repassword estilo"></div>

                    </div>

                
                    <div class="file-select" >
                        <input type="file" name="userImage" class="userImage"aria-label="Archivo">
                    </div>  
                    <div class= "userImage-error estillo"></div>
                    <% if (locals.errors && errors.avatar ) { %>
                        <div class="text-error" style="color:red">
                            <%= errors.avatar.msg %>
                        </div>
                    <% } %>    
                    
                    <button type="submit" href="/users" class="button"> - Register -   </button>
                    <p class= "estas-registrado">¿Do you have an account? <a href="/users/login">Login</a></p>

                </form>
            </div>
        </div>
    </main>
    <!-- footer -->
    <%-include('../partials/footer')%>
    <script src="/js/registerValidation.js"></script>

</body>
</html>