<!--ARCHIVO PARA REVISION-->

<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {'title': 'Listado de usuario'})  %>
<body>
    <%- include('../partials/header')  %> 

    <% for(let i = 0;i < users.length; i++){ %>
        <div style="border: 2px black solid;">
            <p>ID : <%= users[i].id %></p>
            <p>nombre : <%= users[i].email %></p>
            <img style="width: 150px;" src="./images/users/<%=users[i].avatar %>" alt="">
        
        <form action="/usersRouter/<%=users[i].id%>/delete?_method=delete" method="POST">
            <button type="submit" > Borrar </button>
        </form>
    
        <form action="/usersRouter/<%=users[i].id%>/update?_method=PUT" method="GET">
            <button type="submit" > Actualizar </button>
        </form>
        </div>
        <br>
    <% } %>
    
    
        <%- include('../partials/footer')  %>
    </main>    
</body>
</html>
